{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}{% include site/head.html %}

  <body {% if page.body_id %} id="{{ page.body_id }}"{% endif %}>

    <header>
      {% include site/header.html %}
    </header>

    {% if page.hero_unit %}
      {% include site/hero_unit.html %}
    {% else %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="margin-top: -30px">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">
                    <div class="active item" data-slide-number="0">
                        <img src="/images/sliders/slider1.jpg" alt="slide 1" style="width:100%;">
                    </div>
                    <div class="item" data-slide-to="1">
                        <img src="/images/sliders/slider2.jpg" alt="slide 2" style="width:100%;">
                    </div>
                    <div class="item" data-slide-number="2">
                        <img src="/images/sliders/slider3.jpg" alt="slide 3" style="width:100%;">
                    </div>
                    <div class="item" data-slide-number="3">
                        <img src="/images/sliders/slider4.jpg" alt="slide 4" style="width:100%;">
                    </div>
                    <div class="item" data-slide-number="4">
                        <img src="/images/sliders/slider5.jpg" alt="slide 5" style="width:100%;">
                    </div>                                        
      </div>
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
    {% endif %}

    <div class="grid-wrapper">
      <div class="grid grid-center">
        {% if page.is_post and page.sidebar == false %}
        <div class="grid__item four-fifths lap-one-whole palm-one-whole">
        {% elsif page.is_homepage %}
        <div class="grid__item one-whole">
        {% else %}
        <div class="grid__item two-thirds lap-one-whole palm-one-whole">
        {% endif %}

          {{ content | expand_urls: root_url }}

        </div>

        {% unless page.sidebar == false %}
        <aside id="sidebar" class="grid__item one-third lap-one-whole palm-one-whole">
          {% include site/sidebar.html %}
        </aside>
        {% endunless %}
      </div>
    </div>

    <footer>
      {% include site/footer.html %}
    </footer>

    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    {% include javascripts/scripts.html %}

  </body>
</html>