<h2 class="title">Srilanka</h2>
<hr>
<p>
	Sri Lanka, Sinhala: ශ්‍රී ලංකාව, śrī laṃkāva, Tamil: இலங்கை, ilaṅkai), officially the Democratic Socialist Republic of Sri Lanka, is an island country in the northern Indian Ocean off the southern coast of the Indian subcontinent in South Asia; known until 1972 as Ceylon, Sri Lanka has maritime borders with India to the northwest and the Maldives to the southwest.
	<br /><br />
	Christianity is a minority religion in Sri Lanka. Roman Catholicism was introduced by the Portuguese in 1505. There were conversions by Dutch persons in the 17th century, which resulted in a percentage of church members in excess of 10%. This figure decreased. The Christian population of Sri Lanka includes members of both the Sinhalese and Tamil ethnic groups.	
	<br /><br />
    http://en.wikipedia.org

</p>