<h2 class="title">USA</h2>
<hr>
<p>
	The United States of America is a federal constitutional republic comprising fifty states and a federal district. The country is situated mostly in central North America, where its forty-eight contiguous states and Washington, D. C., the capital district, lie between the Pacific and Atlantic Oceans, bordered by Canada to the north and Mexico to the south.
    <br /><br />
    With over 309 million people, the United States is the fourth largest country by total area, and the third largest both by land area and population. It is one of the world's most ethnically diverse and multicultural nations, the product of large-scale immigration from many countries. 
    <br /><br />
    According to a 2007 survey, 78.4% of adults identified themselves as Christian. Protestant denominations accounted for 51.3%, while Roman Catholicism, at 23.9%, was the largest individual denomination.</p>
    <br />

</p>