<h2 class="title">India</h2>
<hr>
<p>
	India, officially the Republic of India (Bharat Ganrajya), is a country in South Asia. It is the seventh-largest country by area, the second-most populous country with over 1.2 billion people, and the most populous democracy in the world. The Indian economy is the world's tenth-largest by nominal GDP and third-largest by purchasing power parity (PPP).
    <br /><br />
    Christianity was India's third-largest religion according to the census of 2001, with approximately 24 million followers, constituting 2.3 per cent of India's population. The works of scholars and Eastern Christian writings state that Christianity was introduced to India by Thomas the Apostle, who visited Muziris in Kerala in 52 CE to spread the gospel amongst Kerala's Jewish settlements
    <br /><br />
    http://en.wikipedia.org
</p>