<img alt="worship and healing crusade" style="width: 100%; margin-top: -30px" src='/images/headerimage.jpg'>

<!--
<div class="hero" style="background-image: url('/images/headerimage.jpg');">
  <div class="grid-wrapper">
    <div class="grid flex">
      <div class="grid__item flex__item two-fifths palm-one-whole avatar">
        <img class="gravatar" style="border: 0px;height: 300px;" src="/images/gravatar.png" alt="{{ site.author }}'s Picture"{% if site.email and site.gravatar != false %} data-gravatar="{{ site.email }}"{% endif %}>
      </div>
      <div class="grid__item flex__item three-fifths palm-one-whole">
      {% include custom/welcome.html %}
      </div>
    </div>
  </div>

  <div class="credit">
    <p>
      Come pray with us, for our countries:  <br/>
      Sundays - 5:00 PM - 7:00 PM <br/>
      701 Van Duzer St<br/>
      Staten Island, New York - 10304<br/>
    </p>
  </div>
</div>
-->