---
layout: page
title: "Jesus Family Church, Tamil &amp; Sinhala - Staten Island, NY"
date: 2013-08-16 23:48
comments: true
show_title: false
sidebar: false
hero_unit: true
is_homepage: true
---

<b><a href="{{ root_url }}/blog">More Updates...</a></b>
<hr> 
<link rel="stylesheet" type="text/css" href="/stylesheets/custom.css">

<div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item one-third lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole lap-one-third">
          <span class="icon">
            <img src="/images/usa.png" alt="jesus family ministry staten island usa" style="height: 100px;"/>
          </span>
        </div>

        <div class="grid__item one-whole lap-two-thirds">
          {% include custom/grid_item_left.html %}
        </div>
      </div>
    </div>

    <div class="grid__item one-third lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole lap-one-third">
          <span class="icon">
            <img src="/images/india.png" alt="jesus family ministry india" style="height: 100px;"/>
          </span>
        </div>

        <div class="grid__item one-whole lap-two-thirds">
          {% include custom/grid_item_middle.html %}
        </div>
      </div>
    </div>

    <div class="grid__item one-third lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole lap-one-third">
          <span class="icon">
            <img src="/images/srilanka.png" alt="jesus family ministry srilanka" style="height: 100px;"/>
          </span>
        </div>
		 
        <div class="grid__item one-whole lap-two-thirds">
         {% include custom/grid_item_right.html %}
        </div>
      </div>
    </div>
  </div>
</div>

<hr> 
<b><a href="{{ root_url }}/reach-out">REACH US:</a></b>

<h4>Our Location</h4>
<a href="{{ root_url }}/reach-out">Click here for the map</a>

<h4>Address:</h4>
    701 Van Duzer St,<br />
    Staten Island<br />
    New York - 10304<br />
    USA.<br />
    571-332-2210<br />
    <a href="mailto:ministry@jesusfamilyministry.com">ministry@jesusfamilyministry.com</a><br /><br />

<hr>

<a href="{{ root_url }}/services">Worship: Sunday - 5:00 PM (..more)</a><br />


<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>

<script type="text/javascript">stLight.options({publisher: "dca6d4a2-b80d-4799-a470-3fd75f6089c5", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
var options={ "publisher": "dca6d4a2-b80d-4799-a470-3fd75f6089c5", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "pinterest", "email", "sharethis"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>
